<!DOCTYPE html>
<html>

<head>

    <title>Dashboard - GreenHabit</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="dashboard">

        <h1>🌱 GreenHabit</h1>

        <h2>Welcome, {{ name }}! 👋</h2>

        <p>Make small changes. Create a greener future.</p>

        <hr>

        <h2>📊 Today's Progress</h2>

        <div class="progress-card">

            <h1>{{ progress }}%</h1>

            <p>
                {{ completed_today }} out of
                {{ total_habits }} habits completed
            </p>

            <div class="progress-container">

                <div class="progress-bar"
                     style="width: {{ progress }}%;">
                </div>

            </div>

        </div>

        <div class="stats">

            <div class="stat-card">

                <h2>🔥</h2>

                <h3>{{ streak }}</h3>

                <p>Day Streak</p>

            </div>


            <div class="stat-card">

                <h2>✅</h2>

                <h3>{{ completed_today }}</h3>

                <p>Completed Today</p>

            </div>


            <div class="stat-card">

                <h2>🌿</h2>

                <h3>{{ total_habits }}</h3>

                <p>My Habits</p>

            </div>

        </div>

        <hr>

        <h2>🌿 Manage Your Habits</h2>

        <a href="/habits">
            <button>Choose My Habits</button>
        </a>

        <br><br>

        <a href="/track">
            <button>✅ Track Today's Habits</button>
        </a>

        <br><br>

        <a href="/progress">
            <button>📊 View Weekly Progress</button>
        </a>
        <br><br>

<a href="/profile">
    <button>👤 My Profile</button>
</a>

        <br><br>

        <a href="/logout">
            <button>Logout</button>
        </a>

    </div>

</body>

</html>