<!DOCTYPE html>
<html>

<head>

    <title>Login - GreenHabit</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="auth-container">

        <div class="auth-card">

            <div class="logo">
                🌱
            </div>

            <h1>GreenHabit</h1>

            <h2>Welcome Back!</h2>

            <p class="subtitle">
                Continue your sustainable journey.
            </p>

            <form method="POST">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >

                <button type="submit">
                    Login
                </button>

            </form>

            <p class="auth-link">
                Don't have an account?
                <a href="/register">Create Account</a>
            </p>

        </div>

    </div>

</body>

</html>