<!DOCTYPE html>
<html>

<head>
    <title>Login - GreenHabit</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🌱 GreenHabit</h1>

    <h2>Login</h2>

    <form method="POST">

        <input type="email"
               name="email"
               placeholder="Enter your email"
               required>

        <br><br>

        <input type="password"
               name="password"
               placeholder="Enter your password"
               required>

        <br><br>

        <button type="submit">Login</button>

    </form>

    <p>
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</body>

</html>